<!DOCTYPE html>
<html lang="en">

<head>
    <title>JSP Quiz</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <dl>
        <dt>What is the main value of Java Server Pages?</dt>
        <dd>Java Server Pages helps to separate the display from the processing part i.e separate
            html from java. JSP supports dynamic content and allows developers to
            insert
        </dd>
        <dt>How are JSP pages related to servlets?
        </dt>
        <dd>When a browser requests a page with a .jsp file the container reads the request.
            Using the JSP compiler, the container converts the JSP into a servlet class that
            The JSP file is compiled only when the page is first requested, or when the JSP file has been changed.
            Otherwise, the previously compiled JSP servlet class is re-used, making subsequent responses much quicker.
            Finally, the generated JspPage servlet class is invoked to handle the browser request.
        </dd>
        <dt>How are JSP pages related to HTML?
        </dt>
        <dd>
            JSP pages can have plain html code embedded or generate dynamic
            HTML code on the go.
        </dd>
        <dt>Give an example of a JSP scriptlet and show how it will look in the JSP servlet.
        </dt>
        <dd>Example of scriptlet:
            <pre>
                <% int x=10;
                int y=40;
                int z = x+y;
                out.println("Sum of x and y is " + z);
                %>
            </pre>
            The scriptlet above will be compiled to the following in JSP servlet:
            <pre>
                int x=10;
                int y=40;
                int z = x+y;
                out.println("Sum of x and y is " + z);
            </pre>

        </dd>
        <dt> Give an example of a JSP declaration and show how it will look in the JSP servlet
        </dt>
        <dd>Example of JSP declaration:
            <pre>
                <%! int count = 0; %>
                </pre>
            The declaration above will be compiled to the following in JSP servlet:
            <pre>
                int count = 0
                </pre>

        </dd>
        <dt>Give an example of a JSP comment and show how it will look in the JSP servlet. </dt>
        <dd>Example of JSP Comment:
            <pre>
                <%-- This is Sparta!! --%>
            </pre>
            The comment above will be ignored in JSP servlet:

        </dd>
        <dt>Give an example of a JSP expression and show how it will look in the JSP servlet. </dt>
        <dd>
            <pre>
                <%= i*j+i %>
            </pre>
            The expression above will be compiled to the following in JSP servlet:
            <pre>
                out.print(i*j+i);
            </pre>
        </dd>
        <dt>Give an example of a JSP directive and show how it will look in the JSP servlet.</dt>
        <dd>
            <pre>
                <%@page import="mum.cs472.*" %>
            </pre>
            The directive above will be compiled to a proper import statement in the JSP servlet like:
            <pre>
                import mum.cs472.*
            </pre>
        </dd>
        <dt>Explain how an EL expression is evaluated.
        </dt>
        <dd>
            Expression -> ${variable} <br>
            The container checks page scope for an attribute named variable, and if not found keeps on checking it
            in request scope, session scope and application scope and if still not found,
            it ignores the expression.
        </dd>
        <dt>Explain how servlet attributes are involved in EL expressions.</dt>
        <dd>
            Suppose the EL expression: ${sessionScope.name} is in the JSP page.
            The EL expression will search for objects in servlet attributes in the following order
            <ol>
                <li>pageScope</li>
                <li>requestScope</li>
                <li>sessionScope</li>
                <li>applicationScope</li>
            </ol>
            If the expression is stored in session scope as follows:
            <pre>
            String name = "Ameet";
            session.setAttribute("name", name);
            </pre>
            The EL expression ${sessionScope.name} will give us "Ameet"<div class=""></div>

        </dd>
        <dt>Explain how servlets and JSPs use request dispatch to interact. </dt>
        <dd>
               Servlets and JSP use request dispatch to set and get attributes to other JSPs or servlets.
        </dd>
    </dl>
</body>

</html>